body{
    font-family:Arial, sans-serif;
    margin:0;
    background: #fafafa;
}
nav{
    background: #000;
    padding:15px;
    text-align:center;
}
nav a{
    color: white;
    margin: 0 20px;
    text-decoration: none;
}
.hero{
    padding: 80px;
    text-align: center;
}
form{
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
input,textarea{
    margin-bottom: 15px;
    padding: 10px;
}